{% extends "base.twig" %}

{% block title %}Profile{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/css/profile.css">
{% endblock %}

{% block content %}
    <section class="py-5 my-5">
        <div class="container">
            <h1 class="mb-5">Change Password</h1>
            <div class="bg-white shadow rounded-lg d-block d-sm-flex">
                <form class="tab-content p-4 p-md-5" action="/profile/changePassword" method="post" enctype="multipart/form-data">
                    <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Old password</label>
                                    <input type="password" name="oldPassword" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" name="newPassword" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Repeat New Password</label>
                                    <input type="password" name="repNewPassword" class="form-control">
                                </div>
                                {% if errors['passwordError'] %}
                                    <h5 style="color: #ff0000; width: 100%">{{ errors['passwordError'] }}</h5>
                                {% endif %}
                                {% if errors['ok'] %}
                                    <h5 style="color: #ff0000; width: 100%">{{ errors['ok'] }}</h5>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <button name="submit" type="submit">Update</button>
                            <button onclick="window.location.replace('/profile')" type="button">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}