{% extends "base.twig" %}

{% block title %}Create Blog Entry{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div style="margin: 80px auto;" class="gj-text-align-center">
        <p style="font-size: xxx-large"><i class="ti-comments-smiley"></i></p>
        <p>Sorry, we're building this page!</p>
        <p>For the moment, you can only create entries using the API</p>
    </div>
{% endblock %}