{% extends "base.twig" %}

{% block title %}Membership{% endblock %}

{% block head %}
    <script src="/assets/js/membership.js"></script>
{% endblock %}

{% block content %}
    <!--? Pricing Card Start -->
    <section class="pricing-card-area">
        <div class="container" style="margin-top: 20px; margin-bottom: 50px">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-tittle mb-60 text-center">
                        <h2>Choose a plan</h2>
                        <p>PixSalle currently offers two plans, Cool (free) and Active (premium). Help the site
                        and its contributors & unlock the full potential of this social network with Active, you won't regret!</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="/assets/img/icon/camera.svg" alt="">
                            <h4>Cool</h4>
                            <p>Just amazing for</p>
                        </div>
                        <div class="card-mid">
                            <h4>Free</h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li>Watch other people's portfolios and navigate through PixSalle</li>
                                <li>View Albums</li>
                                <li>Customize your Profile Photo</li>
                                <li>Read Blogs</li>
                                <li>Create your own Blogs</li>
                            </ul>
                            {% if membership == 0 %}
                                <a class="btn-disabled">Current One</a>
                            {% else %}
                                <a onclick="updateMembership(0)" class="border-btn get-btn">Return to Cool</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <!-- stiker -->
                        <div class="stiker">
                            <span>Most Popular</span>
                        </div>

                        <div class="card-top">
                            <img src="/assets/img/icon/services1.svg" alt="">
                            <h4>Active</h4>
                            <p>Unlock your creativity</p>
                        </div>
                        <div class="card-mid">
                            <h4>0.00€</h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li>All the features from the Cool membership plus...</li>
                                <li>Create your Albums for 2€ each</li>
                                <li>Upload unlimited Photos to them</li>
                                <li>Exclusive offers and mailing list</li>
                                <li>Unlock the full potential of PixSalle</li>
                            </ul>
                            {% if membership == 1 %}
                                <a class="btn-disabled">Current One</a>
                            {% else %}
                                <a onclick="updateMembership(1)" class="border-btn get-btn">Buy Active</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Card End -->
{% endblock %}